.dng-whiteboard-container {
  height: 600px;
  width: 600px;
  background: #bbb;
}

canvas-whiteboard {
  display: block;
  height: 0.98 * 100vh;
}
.drawButtonClass {
  color: red;
  background-color: green;
}
